<!DOCTYPE html> 
<html> 

<!-- Head Section content -->
<head> 

	<!-- Page title -->
	<title>Expense Tracker</title> 
</head> 

<!-- Body Section content -->
<body> 

	<!-- Used to display heading content -->
	<h1>Welcome to Expense Tracker Application</h1> 
	<h2>Welcome to Expense Tracker Application</h2> 
	<h3>Welcome to Expense Tracker Application</h3> 
	<h4>Welcome to Expense Tracker Application</h4> 
	<h5>Welcome to Expense Tracker Application</h5> 

	<!-- Used to display paragraph content -->
	<p>This is the first line</p> 
</body> 

</html> 

